{% extends 'includes/layout.html' %}

{% block body %}
<main class="container">
  <div class="bg-light p-5 rounded mt-5">
    <h1>OpenAI GPT-3</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure magnam quasi enim adipisci repellendus commodi quo quisquam tempora reprehenderit magni tenetur, aspernatur voluptatem nobis maxime consectetur, temporibus facilis voluptatibus voluptas.</p>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad optio qui porro illum. Repellendus ipsa, placeat quasi id magnam asperiores reiciendis officiis, sunt blanditiis mollitia odio, suscipit labore inventore quos.</p>
  </div>

  <div class="p-5 rounded mt-1">
    <div class="row">
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            AI Story
          </div>
          <div class="card-body">
            <h5 class="card-title">AI Tell a Story</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti quidem, magni corporis aut id sed veniam, in dolor corrupti aliquid magnam ducimus molestiae tenetur nobis, vero ut! Dolor, impedit provident?</p>
            <a href="/tell-story-ai" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            Chat AI
          </div>
          <div class="card-body">
            <h5 class="card-title">Chat with AI</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti quidem, magni corporis aut id sed veniam, in dolor corrupti aliquid magnam ducimus molestiae tenetur nobis, vero ut! Dolor, impedit provident?</p>
            <a href="/chat-with-ai" class="btn btn-primary">Get Started</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
